// Primary app colors:
$bars-grey: #3d464e;
$text-grey: #b8c0cd;
$links-grey: #5e7e92;
$text-selected: #979EA9;
$dark-blue: #232a31;
$light-blue: #28333b;
$selected-blue: #313b43;
$error-red: #a3060c;
